{% extends "main.html" %}

{% block main %}
    <form method="post">
        <div>
            <div>First Name:</div>
            <div><input type="text" name="user_fname" required></div>
        </div>
        <div>
            <div>Last Name:</div>
            <div><input type="text" name="user_lname" required></div>
        </div>
        <div>
            <div>Email:</div>
            <div><input type="email" name="user_email" required></div>
        </div>
        <div>
            <div>Password:</div>
            <div><input type="password" name="user_password" required></div>
        </div>
        <div>
            <div>Password:</div>
            <div><input type="text" name="user_lname" required></div>
        </div>
        <div>
            <div></div>
            <div><input type="submit" value="Submit"></div>
        </div>
    </form>
{% endblock %}